<h2 class="text-xl font-bold" mat-dialog-title>Update User</h2>

<div mat-dialog-content style="width: 450px">
    <!-- <div>{{ userData.name }}</div> -->
    <form>
        <div class="borderBottom">
            <input
                class="w-100"
                [(ngModel)]="userData.name"
                name="name"
                type="text"
                required
                placeholder="Username"
            />
        </div>

        <div class="borderBottom">
            <input
                class="w-100"
                [(ngModel)]="userData.email"
                name="email"
                type="email"
                required
                placeholder="Email"
            />
        </div>

        <div class="borderBottom">
            <input
                class="w-100"
                [(ngModel)]="userData.birth"
                type="date"
                name="birth"
                required
            />
        </div>

        <div class="borderBottom">
            <!-- <input
                [(ngModel)]="userData.country"
                type="text"
                name="country"
                required
                placeholder="country"
            /> -->
            <select
                [(ngModel)]="userData.country"
                required
                name="country"
                class="text-black w-100"
            >
                <option hidden selected disabled class="text-black">
                    Country
                </option>
                <option value="Buxoro">Buxoro</option>
                <option value="Nukus">Nukus</option>
                <option value="Xorazm">Xorazm</option>
                <option value="Navoiy">Navoiy</option>
                <option value="Qarshi">Qarshi</option>
                <option value="Samarqand">Samarqand</option>
                <option value="Jizzax">Jizzax</option>
                <option value="Termiz">Termiz</option>
                <option value="Sirdaryo">Sirdaryo</option>
                <option value="Toshkent">Toshkent</option>
                <option value="Namangan">Namangan</option>
                <option value="Andijon">Andijon</option>
                <option value="Fargona">Fargona</option>
            </select>
        </div>
        <br />
        <div class="borderBottom">
            <input
                class="w-100"
                [(ngModel)]="userData.date"
                type="time"
                name="date"
                required
            />
        </div>
        <br />
        <div class="w-1/3 mx-auto">
            <button
                (click)="updateUser()"
                mat-button
                class="
                    button
                    bg-blue-900
                    w-full
                    text-white
                    px-2
                    py-1
                    mt-5
                    border
                    rounded
                "
            >
                + add
            </button>
        </div>
    </form>
</div>
