<div class="w-full">
    <div>
        <div class="bg-red-300 text-white text-2xl" *ngFor="let base of bases2">
            {{ base }}
        </div>
    </div>

    <!-- <div class="border w-3/4 bg-green-600 mx-auto p-5 text-white rounded-sm">
        <ng-content select="h2"></ng-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
        temporibus quod excepturi asperiores dicta, autem laudantium
        exercitationem suscipit magnam deleniti iusto fugiat dolore. Iusto
        ullam, quas quos repudiandae similique blanditiis?
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi,
            iure.
        </div>
        <ng-content select=".file"></ng-content>
    </div> -->
</div>
