@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

input[type="radio"] + label span {
    transition: 0.2s, transform 0.2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked + label span {
    background-color: #3490dc; //bg-blue
    box-shadow: 0px 0px 0px 1px white inset;
}

input[type="radio"]:checked + label {
    font-weight: 500; //text-blue
}
.clickBtn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-radius: 50%;
    margin: 5px;
    background: lightgrey;
    color: black;
}
.checked {
    background-color: #1e293b;
    color: white;
    animation: selected 1.5s forwards;
}

@keyframes selected {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 2;
    }
}
